
  
  .bg {
    background-image: url("./lighthouse-web.jpg");
  
    /* Full height */
    max-width: 100vh;
    max-width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .navbar {
    background-color: transparent;
  }