body { 
    background-color: "#011A27" }

.footer {
    
    bottom: 0;
    width: 100%;
    height: 60px;}

html, body {
    min-height: 100%;
    }
    
.full-height {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}